[submodule "integrations/md"]
	path = integrations/md
	url = https://github.com/jacobcy/md.git
[submodule "integrations/langmanus"]
	path = integrations/langmanus
	url = https://github.com/jacobcy/langmanus.git
[submodule "integrations/langmanus-web"]
	path = integrations/langmanus-web
	url = https://github.com/jacobcy/langmanus-web.git
[submodule "integrations/daily-hot-api"]
	path = integrations/daily-hot-api
	url = https://github.com/jacobcy/DailyHotApi.git
[submodule "integrations/daily-hot"]
	path = integrations/daily-hot
	url = https://github.com/jacobcy/DailyHot.git
